<!DOCTYPE html>
<html lang="en">
<title>Intruder Alarm Page - HomeView</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
.w3-center img:hover{opacity: 0.6; transition: 0.3s}
</style>
<body class="w3-light-grey">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
  <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">CLOSE</a> 
  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">MAIN PAGE</a> 
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-center w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">HomeView</span>
  <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Intruder Alarm Page</title> -->

    <H1>
        Home Camera Feed
    </H1>
</head>
<body>
<p><b>For the purposes of this demo:</b> We programmed the computer's webcam to take an image for demonstration. In a production setting, this webapp would be connected to live-streaming video processing samples at regular intervals. </p>
<p>If the people in this image are not Ben, Steve, Aaron, or Danny, we will get a text saying that there is an intruder in your home. </p>
<p><b>Try this demo with the button below!</b></p>

<form  method="POST">
  {# This hidden_tag is a CSRF security feature. #}
  {{ image_form.hidden_tag() }}
  {{ image_form.take_image_selection.label}}<br>{{image_form.take_image_selection}}
  <br>
    {{ image_form.submit() }}
</form>
<button onclick="goBack()">Go Back</button>

</body>
<script>

// Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

function goBack() {
    location.replace("http://127.0.0.1:5000/main");
}

</script>
</html>
